@use 'variables' as *;

.bg-apropos{
    background-color: $page-4-color;
}

.bg-contact{
    background-color: $page-3-color;
}

.bg-projet-1{
    background-color: $project-1-color;
}

.bg-projet-2{
    background-color: $project-2-color;
}

.bg-projet-3{
    background-color: $project-3-color;
}