@use 'variables' as *;

button.btn-nav {
    background-color: $btn-nav;
}

.btn-nav {
    background-color: $btn-nav;
}

.btn-primary {
    padding: 0.7em;
    border-radius: 10px;
    border: solid black 2px;

    &:hover {
        font-weight: 500;
    }
}

.links {
    color: $primary-color;

    &:hover {
        font-weight: bold;
      }
}