@use 'variables' as *;

body{
    background-color: $primary-color;
}

img {
    max-width: 100%;
    height: auto;
}

.title {
    font-family: "Open Sans", sans-serif;
    font-size: 3rem;
    padding: 1.5em 0 1.5em 0;
}

.projet-title{
    font-family: "Open Sans", sans-serif;
    font-size: 1.7rem;
}
