@use 'variables' as *;

body{
    background-color: $primary-color;
    font-family: "Inconsolata", monospace;
    font-weight: 500;
    font-size:1rem;
}

img {
    max-width: 100%;
    height: auto;
}

.bg {
    &__page-2{
        background-color: $page-2-color;
    }
    &__page-3{
        background-color: $page-3-color;
    }
    &__page-4{
        background-color: $project-1-color;
    }
    &__page-5{
        background-color: $project-2-color;
    }
    &__page-6{
        background-color: $project-3-color;
    }
}

.title {
    font-family: "Karla", sans-serif;
    font-size: 3rem;
    padding: 1.5em 0 1.5em 0;
    font-weight: 600;
}

.navbar {
    font-family: "Karla", sans-serif;
}

.second-title{
    font-family: "Karla", sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
}

.project-title {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    font-size: 1.125rem; 
    line-height: 1.75rem;
}
