@use 'variables' as *;

body{
    background-color: $primary-color;
    font-family: "Inconsolata", monospace;
    font-weight: 300;
}

img {
    max-width: 100%;
    height: auto;
}

.bg-page-2{
    background-color: $page-4-color;
}

.bg-page-1{
    background-color: $page-3-color;
}

.bg-projet-1{
    background-color: $project-1-color;
}

.bg-projet-2{
    background-color: $project-2-color;
}

.bg-projet-3{
    background-color: $project-3-color;
}

.title {
    font-family: "Karla", sans-serif;
    font-size: 3rem;
    padding: 1.5em 0 1.5em 0;
    font-weight: 600;
}

.navbar {
    font-family: "Karla", sans-serif;
}

.second-title{
    font-family: "Karla", sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
}

.project-title {
    font-weight: bold;
    font-size: 1.5rem;
}