$btn-color: rgb(174, 136, 196);
$bg-color: rgb(248, 244, 244);
$primary-color:rgb(230, 232, 255);
$page-2-color: rgb(255, 255, 255);
$page-3-color: rgb(97, 146, 124);
$page-4-color: rgb(220, 220, 220);
$project-1-color: rgb(234, 240, 206);
$project-2-color: rgb(201, 128, 128);
$project-3-color: rgb(112, 140, 167);
$btn-nav: rgb(223, 236, 165);

//Form
$successColor : #09c372;
$errorColor: #a0132f;
$bg-form: whitesmoke;