$btn-color: rgb(174, 136, 196);
$primary-color2: rgb(148, 158, 214);
$bg-color: rgb(248, 244, 244);
$primary-color:rgb(230, 232, 255);
$page-2-color: rgb(255, 255, 255);
$page-3-color: rgb(97, 146, 124);

//Form
$successColor : #09c372;
$errorColor: #ff3860;
$bg-form: whitesmoke;

body{
    background-color: $primary-color;
}

.navbar {
    font-family: "Open Sans", sans-serif;
    
}

.title {
    font-family: "Open Sans", sans-serif;
    font-size: 3rem;
    padding: 1.5em 0 1.5em 0;
}

.projet-title{
    font-family: "Open Sans", sans-serif;
    font-size: 1.7rem;
}

.bg-apropos{
    background-color: $page-3-color;
}

.bg-contact{
    background-color: $primary-color2;
}


.btn-primary {
    background-color: $btn-color !important;
    padding: 0.7em;
    border-radius: 10px;
    color:rgb(239, 237, 237);
    transition: padding 200ms;

    &:hover {
        background-color: rgb(175, 122, 205);
        padding: 0.75em;
        height: auto;
        font-weight: 500;
    }
}

.links {
    color: $primary-color;

    &:hover {
        font-weight: bold;
      }
}


.input-control {
    
    input:focus {
        outline: 0;
    }

    &.success input {
        border-color: $successColor;
    }

    &.error input {
        border-color: $errorColor;
    }

    .errorMessage {
        color: $errorColor;
        font-size: 9px;
        height: 13px;
    }
}

.form {

    &__span {
        padding-left: 0.5em;
        color: $errorColor;
    }

}
