body {
  background-color: rgb(248, 244, 244);
}

.navbar {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(50, 72, 193);
}

.title {
  font-family: "Open Sans", sans-serif;
  font-size: 3rem;
  padding: 1.5em 0 1.5em 0;
  color: rgb(50, 72, 193);
}

.projet-title {
  font-family: "Open Sans", sans-serif;
  font-size: 1.7rem;
  color: rgb(50, 72, 193);
}

.btn {
  background-color: rgb(174, 136, 196);
  padding: 0.7em;
  border-radius: 10px;
  color: rgb(239, 237, 237);
  transition: padding 200ms;
}
.btn:hover {
  background-color: rgb(175, 122, 205);
  padding: 0.75em;
  height: auto;
  font-weight: 500;
}