body {
  background-color: rgb(230, 232, 255);
}

.navbar {
  font-family: "Open Sans", sans-serif;
}

.title {
  font-family: "Open Sans", sans-serif;
  font-size: 3rem;
  padding: 1.5em 0 1.5em 0;
}

.projet-title {
  font-family: "Open Sans", sans-serif;
  font-size: 1.7rem;
}

.bg-apropos {
  background-color: rgb(97, 146, 124);
}

.bg-contact {
  background-color: rgb(220, 220, 220);
}

.btn-primary {
  background-color: rgb(174, 136, 196) !important;
  padding: 0.7em;
  border-radius: 10px;
  color: rgb(239, 237, 237);
  transition: padding 200ms;
}
.btn-primary:hover {
  background-color: rgb(175, 122, 205);
  padding: 0.75em;
  height: auto;
  font-weight: 500;
}

.links {
  color: rgb(230, 232, 255);
}
.links:hover {
  font-weight: bold;
}

.input-control input:focus {
  outline: 0;
}
.input-control.success input {
  border-color: #09c372;
}
.input-control.error input {
  border-color: #ff3860;
}
.input-control .errorMessage {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}

.form__span {
  padding-left: 0.5em;
  color: #ff3860;
}