/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.input-control input:focus {
  outline: 0;
}
.input-control.success input {
  border-color: #09c372;
}
.input-control.error input {
  border-color: #a0132f;
}
.input-control .errorMessage {
  color: #a0132f;
  font-size: 12px;
  height: 20px;
}

.form__span {
  padding-left: 0.5em;
  color: #a0132f;
}

button.btn-nav {
  background-color: rgb(223, 236, 165);
}

.btn-nav {
  background-color: rgb(223, 236, 165);
}

.btn-primary {
  background-color: rgb(174, 136, 196) !important;
  padding: 0.7em;
  border-radius: 10px;
  transition: padding 200ms;
  border: solid black 2px;
}
.btn-primary:hover {
  background-color: rgb(175, 122, 205);
  padding: 0.75em;
  height: auto;
  font-weight: 500;
}

.links {
  color: rgb(230, 232, 255);
}
.links:hover {
  font-weight: bold;
}

body {
  background-color: rgb(230, 232, 255);
  font-family: "Inconsolata", monospace;
  font-weight: 300;
}

img {
  max-width: 100%;
  height: auto;
}

.bg-page-2 {
  background-color: rgb(220, 220, 220);
}

.bg-page-1 {
  background-color: rgb(97, 146, 124);
}

.bg-projet-1 {
  background-color: rgb(234, 240, 206);
}

.bg-projet-2 {
  background-color: rgb(201, 128, 128);
}

.bg-projet-3 {
  background-color: rgb(112, 140, 167);
}

.title {
  font-family: "Karla", sans-serif;
  font-size: 3rem;
  padding: 1.5em 0 1.5em 0;
  font-weight: 600;
}

.navbar {
  font-family: "Karla", sans-serif;
}

.second-title {
  font-family: "Karla", sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
}

.project-title {
  font-weight: bold;
  font-size: 1.5rem;
}